{% extends 'layout.html' %}
{% block title %}协议书 | USTC二手市场{% endblock %}
{% block body %}
<h1 class="text-center">协议书</h1>
<div class="row">
    <div class="offset-md-1 col-md-10 card">
        <pre style="white-space: pre-wrap;" class="card-body">甲方：中国科学技术大学计算机学院本科学生会
乙方:
学生会本着服务广大科大学子的宗旨，提供更多的利民活动为己任的原则，希望能够丰富同学们在大学的课余生活，特为科大学子开展本次二手市场活动。为了规范和分清彼此的责任和义务，传递3.15<国际消费者权益>精神。达成以下协议：
甲方权利与义务：
学生会提供只为乙方提供场地使用，维护会场秩序。
为确保二手市场正常运行，保留对产品的检查权和下架权。
乙方权利与义务：
务必服从甲方的摊位安排，服从管理，不妨碍市场正常运作，造成严重影响者，一律不得继续经营。
严格遵守《消费者权利法》谢绝出售“假、冒、伪、劣”产品。一经发现，从严处理。
完善售后服务，为所售产品提供质量保证。若所售商品出现任何质量及数量等问题，甲方不承担任何责任。
三、双方应遵守上述约定。
四、协议自2018年6月9日起生效。
五、本协议一式二份，双方各执一份。
六、未尽事宜，双方协商解决。</pre>
    </div>
</div>
{% endblock %}