{% extends 'layout.html' %}
{% block title %}主页 | 闲蜗{% endblock %}
{% block body %}
<pre style="white-space: pre-wrap;" class="text-center">
欢迎来到闲蜗(:３っ)∋——专属于科大人的二手市场
在这里，你可以把所有你
不再需要的
不再喜欢的
不想丢掉又不知道如何处理的
没什么()用又占地方的
教材、练习、笔记本
台灯、彩电、自行车
电脑、手机、电风扇
（单身狗应该不行）
（女朋友也不行）
统统拿来卖！
你可以选择自己看守摊位
或者
我们来帮你卖！
前二十个卖家还有机会得到纪念徽章哦~
6.9日 12:30-5:30
在3B102
（开始搞事情）
如果没有什么可以卖的也欢迎来玩~
随便逛逛说不定可以省下一笔书费哦(滑稽
（你们还可以在这个网站实时查看所有即将被卖出的商品(ฅ´ω`ฅ)）
欢迎关注_(:з」∠)_
一起来玩( ͡° ͜ʖ ͡°)✧

选择帮忙卖的提示信息
（选择帮忙卖）请6.9日在11:30-12:30之间将东西拿到3B102哦

选择拿回物品的提示信息
（选择拿回）请6.9日下午6:30来3B102拿回你的物品
（选择不拿回）我们会将剩下的东西捐赠或送出哦

每个卖家分完号码：
当天会以你的卖家编号分配摊位哦
</pre>
{% endblock %}