{% extends 'layout.html' %}
{% block title %}浏览商品 | USTC二手市场{% endblock %}
{% block body %}
<div class="row">
    <div class="offset-md-1 col-md-10">
        <form class="form" action="/items" method="get">
            <div class="form-group row">
                <div class="col-md-10">
                    <input type="text" class="form-control" name="keywords" placeholder="关键字" required>
                </div>
                <div class="col-md-2">
                    <button type="submit" class="btn btn-secondary" style="width:100%;">搜索</button>
                </div>
            </div>
        </form>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col" width="15%">商品编号</th>
                    <th scope="col" width="70%">商品名称</th>
                    <th scope="col" width="15%">价格</th>
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                    <tr>
                        <td>{{ item.id_ }}</td>
                        <td>{{ item.name }}</td>
                        <td>{{ item.price }} 元</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="offset-md-1 col-md-1">
        {% if page > 1 %}
            <a href="/items?page={{ page - 1 }}">上一页</a>
        {% endif %}
    </div>
    <div class="offset-md-8 col-md-1">
        {% if page < pages %}
            <a href="/items?page={{ page + 1 }}">下一页</a>
        {% endif %}
    </div>
</div>

{% endblock %}