{% extends 'layout.html' %}
{% block title %}注册 | USTC二手市场{% endblock %}
{% block head %}
<style type="text/css">
#form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

#form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}

#form-signin input[name="name"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

#form-signin input[name="phone"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
</style>
{% endblock %}
{% block body %}
<div class="text-center" style="padding-top: 80px;">
    <h1 class="h3 mb-3 font-weight-normal">请输入以下信息以完成注册</h1>
    <form action="/register" method="post" id="form-signin">
        <input type="text" class="form-control" name="name" placeholder="姓名" required autofocus>
        <input type="text" class="form-control" name="phone" placeholder="手机号" required>
        {% if failed %}
            <div class="alert alert-danger">注册失败，请稍后再试。</div>
        {% endif %}
        <button class="btn btn-lg btn-block btn-primary" type="submit">注册</button>
    </form>
</div>
{% endblock %}