{% extends 'layout.html' %}
{% block title %}活动规则 | 闲蜗{% endblock %}
{% block body %}
<div class="row">
    <div class="offset-md-1 col-md-10">
        <div class="card">
            <div class="card-header">买家须知</div>
            <div class="card-body">
                <p class="card-text">请在“浏览商品”页面内挑选商品，或者使用关键词搜索，若您有意购买某商品，请提供商品编号到结账处结账。</p>
            </div>
        </div>
        <div class="card" style="margin-top: 10px;">
            <div class="card-header">卖家须知</div>
            <div class="card-body">
                <p class="card-text">请在“我的商品”页面增加、编辑或删除您想卖的商品。若选择“自己卖”，则在自己的摊位自己负责贩卖。若选择“学生会帮忙卖”，请将您的物品交给我们的工作人员，我们会帮您贩卖。</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}